<div class="correlated-posts">
  <h2>Correlated Posts</h2>
  <div id="correlations-div">
    {{#each post_correlations}}
    <div class="correlations" id='correlation-{{correlated_post_id}}'>
      <br></br>
      <a href="/post/{{correlation.correlated_post_id}}">{{correlation.title}}</a>
      <p>Votes: <span id='vote-count'>{{correlation.voteCount}}</span></p>
      {{#if loggedIn}}
      <button class="upvote-btn" id='correlation-{{correlation.correlated_post_id}}-btn'>Upvote</button>
      <br></br>
      {{/if}}
    </div>
    {{/each}}
  </div>
</div>