<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <span>({{format_url post_url}})</span>
  </div>
  <div class="meta">
    By {{user.username}} on {{format_date created_at}}
  </div>
</article>