<article class="post">
  <div class="title">
    <a href="{{post.post_url}}">{{post.title}}</a>
    <span>({{post.post_url}})</span>
  </div>
  <div class="meta">
    By {{post.user.username}} on
    {{post.created_at}}
  </div>
</article>
{{> correlatedPosts post.post_correlations }}
<script src="/javascript/upvote.js"></script>