<article class="post">
  <div class="title">
    <h2>{{post.title}}</h2>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> feature/image_urls
    {{#if post.type_image}}
      <img src='{{post.post_url}}' id='post-image'></img>
    {{/if}}
    {{#if post.type_audio}}
      <a href="{{post.post_url}}" id='post-audio'>{{post.title}}</a>
    {{/if}}
    <br></br>
<<<<<<< HEAD
=======
    <img src='{{post.post_url}}' id='post-image'></img>
>>>>>>> 88f01fcbf6dcebb6ffc68447b105e85db1b51f33
=======
>>>>>>> feature/image_urls
    <span>({{post.post_url}})</span>
  </div>
</article>
<section class="new-correlation-form">
  <h2>Create New Correlation</h2>

  <form>
    <div>
      <label for="correlted-post-url">Link</label>
      <input id="correlated-post-url" name="correlated-post-url" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
<div class="correlated-posts">
<<<<<<< HEAD
<<<<<<< HEAD
  <h2>Correlated Posts</h2>
=======
  <h2>Correlated Posts {{post.loggedIn}}</h2>
>>>>>>> 88f01fcbf6dcebb6ffc68447b105e85db1b51f33
=======
  <h2>Correlated Posts</h2>
>>>>>>> feature/image_urls
  <div id="correlations-div">
    {{#each post.post_correlations}}
    <div class="correlations" id='correlation-{{correlated_post_id}}'>
      <br></br>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> feature/image_urls
      <p>{{type_image}}</p>
      {{#if post.type_image}}
        <img src='{{post.post_url}}' class='correlated-image'></img>
      {{/if}}
      {{#if post.type_audio}}
        <a href="{{post.post_url}}" class='correlated-audio'>{{post.title}}</a>
      {{/if}}
      <div class='meta'>
        <p class='meta-p'>
          <a href="/post/{{correlated_post_id}}">{{post.title}}</a>
          <p>Votes: <span id='vote-count'>{{voteCount}}</span></p>
          <button class="upvote-btn" id='correlation-{{correlated_post_id}}-btn'>Upvote</button>
        </p>
      </div>
<<<<<<< HEAD
=======
      <img src='{{post.post_url}}' class='correlated-image'></img>
      <br></br>
      <a href="/post/{{correlated_post_id}}">{{post.title}}</a>
      <p>Votes: <span id='vote-count'>{{voteCount}}</span></p>
      <button class="upvote-btn" id='correlation-{{correlated_post_id}}-btn'>Upvote</button>
      <br></br>
>>>>>>> 88f01fcbf6dcebb6ffc68447b105e85db1b51f33
=======
>>>>>>> feature/image_urls
    </div>
    {{/each}}
  </div>
</div>

<script src="/javascript/upvote.js"></script>
<<<<<<< HEAD
<<<<<<< HEAD
<script src="/javascript/add-correlation.js"></script>
=======
<script src="/javascript/add-correlation.js"></script>
>>>>>>> 88f01fcbf6dcebb6ffc68447b105e85db1b51f33
=======
<script src="/javascript/add-correlation.js"></script>
>>>>>>> feature/image_urls
